//
// Base
// --------------------------------------------------

//== Layout
//
//##

html * {
  outline: 0 !important;
}
body,
html {
  min-height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body-full-height {
  height: 100%;
  body {
    height: 100%;
  }
}
body {
  padding: $navbar-height 0 0 0;
  background: image_url('para/admin/tangram-mosaic.png') repeat top left $gray-light;
  background-size: 128px 128px;
}
//== Page content
//
//##

.page-title {
  height: 55px;

  z-index: $zindex-navbar-fixed + 1;
  padding: 10px 25px;
  background-color: #fff;
  @include material-box-shadow-soft(2);

  h1 {
    margin: 0;
    float: left;
    font-size: 1rem;
    font-weight: 500;
    line-height: 34px;
  }
}
.admin-main-page-content {
  position: relative;
}
.page-content-wrap {
  margin: 25px 10px 25px 10px;
  background-color: #fff;
  border-radius: $border-radius-small;
  @include material-box-shadow-soft;
  padding: 25px;
}
b,
strong {
  font-weight: 500;
}