//
// Pagination
// --------------------------------------------------

//== Overiding bootstrap pagination styles
//
//##

.pagination {
  border-radius: 0;
  @include clearfix;
  display: block;
  margin-bottom: 0;
  text-align: center;
  > li {
    display: inline-block;
    > a,
    > span {
      border-radius: $border-radius-small;
      display: inline-block;
      @include material-box-shadow-soft(1);
      background-color: $gray-lighter;
      border: none;
      float: none;
      margin: 0;
      &:active,
      &:focus,
      &:hover {
        background-color: $gray-lighter;
      }
    }
  }
  > li:first-child {
    > a,
    > span {
      border-radius: $border-radius-small;
    }
  }
}