= turbo_frame_tag "para_admin_flash_messages" do
  - flash.each do |type, message|
    - type = homogenize_flash_type(type)

    .alert{ class: "alert-#{type} fade in", data: { controller: "para-admin-flash-message", action: "click->para-admin-flash-message#close" } }
      %button.close{ 'aria-label': 'Close', type: 'button' }
        %span{ 'aria-hidden': 'true' } &times;

      .alert-icon-container.pull-left
        %i{ class: "fa #{icon_class_for(type)}" }
        &nbsp;
      
      %p= message
